<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
{% load static_url %}
<link rel="stylesheet" type="text/css" href="{% static_url "main.css" %}" />
<title>{{ title }}</title>
</head>
<body>
<h1 class="title">{{ title }}</h1>


{% if errormessage %}
<div class="errormessage">{{ errormessage }}</div>
{% endif %}
{% if statusmessage %}
<div class="statusmessage">{{ statusmessage }}</div>
{% endif %}
<div class="crashuploadform">
<form enctype="multipart/form-data" action="submit" method="post">{% csrf_token %}
{{ form }}
<input type="submit" value="Submit" />
</form>
</div>
</body>
</html>
