body {
    background-color:#FEFEF2;
    font-family:helvetica, arial, verdana, sans-serif;
}
/*
th,td {
    padding-left: 3pt;
    padding-right: 3pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
}
table,tr,th,td {
    text-align:left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
}
*/
ul {
    list-style-type: square;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
ol {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
pre {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.errormessage {
    font-weight:bold;
    text-align:center;
    color:red;
}
.statusmessage { 
    font-weight:bold;
    text-align:center;
    color:blue;
}
.title {
    text-align:center;
    font-size:large;
}
.crashuploadform  {
    position:relative;
    visibility:visible;
    text-align: center;
    vertical-align: middle;
}
.crashupload {
    visibility:visible;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-crashupload {
    background-color: #292961;
    color: #d1d1f0;
}
.navbar-crashupload-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    display: flex;
}
#svgload,svg {
    width: 55px;
    height: 55px;
    margin: 0;
    fill: white;
}
a.navbar-brand {
    color: #d1d1f0;

}
a.nav-link {
    color: #d1d1f0;
}
.btn-filter {
    border-width: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;    
    line-height: 1rem;
    color: #303030;
    fill: currentColor;
    box-shadow: inset 0 0 0 1px #bfbfbf;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.25rem;    
}
