body {
    background-color:#FEFEF2;
    font-family:helvetica, arial, verdana, sans-serif;
}
table.crashlist {
    width:100%;
}
table.crashlist {
    clear: both;
    background: #ffd;
    border: none;
    border-top: 1px solid #dd9;
    border-collapse: collapse;
}
table.crashlist tr {
    font-size: 100%;
    font-weight: normal;
    border: 1px dotted #ddd;
}
table.crashlist tr.odd {
    background: #ffb;
    border-color: #eea;
    color: #880;    
}
table.crashlist tr.even {
    background: #ffd;
    border-color: #dd8;
    color: #880;
}
table.crashlist th {
    background: #f7f7f0;
}
table.crashlist th a {
    border-bottom: 1px;
    color: #b00;    
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}
table.crashlist td a {
    border-bottom: 1px;
    color: #b00;    
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    padding-left: 2px;
}
   
table.crashlist td, table.report td {
color: black;
font-size: 80%;
padding: .5em 1em 0 0;
vertical-align: top;
text-align: left;
white-space: nowrap;
}
table.crashlist th {
color: #663;
font-weight: normal;
white-space: nowrap;
}

/*
th,td {
    padding-left: 3pt;
    padding-right: 3pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
}
table,tr,th,td {
    text-align:left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
}
*/
ul {
    list-style-type: square;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
ol {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
pre {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.errormessage {
    font-weight:bold;
    text-align:center;
    color:red;
}
.statusmessage { 
    font-weight:bold;
    text-align:center;
    color:blue;
}
.title {
    text-align:center;
    font-size:large;
    margin-top: 0.5em;
}
.crashuploadform  {
    position:relative;
    visibility:visible;
    text-align: center;
    vertical-align: middle;
}
.crashupload {
    visibility:visible;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-crashupload {
    background-color: #292961;
    color: #d1d1f0;
}
.navbar-crashupload-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    display: flex;
}
#svgload,svg {
    width: 55px;
    height: 55px;
    margin: 0;
    fill: white;
}
a.navbar-brand {
    color: #d1d1f0;

}
a.nav-link {
    color: #d1d1f0;
}
.form-filter {
    display: table;
}
.form-filter > div.col-12 {
    background-color: #292961;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: table-cell;
    width: auto;
}
.form-filter div .form-select.is-valid {
    background-image: none;
}
.label-filter {
    display: none;
}
.field-filter {
    border-width: 0px;
    padding: 0px;
    display: inline-block;
}
.btn-filter {
    border-width: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;    
    line-height: 1rem;
    color: green;
    fill: currentColor;
    box-shadow: inset 0 0 0 1px #bfbfbf;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.25rem;    
}
.btn-new-issue {
    border-width: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;    
    line-height: 0.8rem;
    color: #303030;
    fill: currentColor;
    box-shadow: inset 0 0 0 1px #bfbfbf;
    justify-content: center;
    align-items: center;
    font-size: 0.855rem;
    border-radius: 0.25rem;    
}
ul.pagination {
    margin-top: 12px;
}