body {
    background-color:#FEFEF2;
    font-family:helvetica, arial, verdana, sans-serif;
}
/*
th,td {
    padding-left: 3pt;
    padding-right: 3pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
}
table,tr,th,td {
    text-align:left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
}
*/
ul {
    list-style-type: square;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
ol {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
pre {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.errormessage {
    font-weight:bold;
    text-align:center;
    color:red;
}
.statusmessage { 
    font-weight:bold;
    text-align:center;
    color:blue;
}
.title {
    text-align:center;
    font-size:large;
}
.crashuploadform  {
    position:relative;
    visibility:visible;
    text-align: center;
    vertical-align: middle;
}
.crashupload {
    visibility:visible;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
