{% load static_url %}
{% load static %}
{% load crashupload_utils %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static_url "main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static_url "crashdump.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static_url "custom/custom.css" %}" />

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Crashdump</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static "jquery.svg.css" %}"> 
    <script type="text/javascript" src="{% static "jquery.svg.min.js" %}"></script>

    <script
        type="text/javascript"
        src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
    </script>

    <script src="{% static_url "crashdump.js" %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    crashdump_docReady();

    $("#svgload").svg({
        onLoad: function()
            {
            var svg = $("#svgload").svg('get');
            svg.load('{% static_url 'logo.svg' %}', {addTo: true,  changeSize: true});                  
            //svg.css('svglogo');
            },
        settings: {}}
        );  
    });
</Script>           
    </script>

</head>
<body>
<nav class="navbar navbar-crashupload navbar-expand">
    <div class="navbar-crashupload-container">
        <a class="navbar-brand" href="#">
            <div id="svgload" style="display:inline;"></div>&nbsp;Crashupload
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "home" %}">Home</a>
                </li>
                {% if nav_items|length %}
                {% for nav_item in nav_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ nav_item.url }}">
                        {% if nav_item.image %}
                        <img src="{{ nav_item.image }}" width="30" height="30"/>
                        {% endif %}
                        {{ nav_item.text }}
                    </a>
                </li>
                {% endfor %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Logout {{user.username}}</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>
