{% extends "base.html" %}
{% load crashupload_utils %}

{% block content %}

<h1 class="title">Crash {{ object.crashid }} of {{ object.get_applicationName }} at {{ object.crashtimestamp|date:"Y-m-d H:i:s" }}</h1>
<div id="crashdump">
<table class="report">
<tr>
  <th>Id</th><td><div class='crashid'>{{ object.crashid }}</div> (PK {{ object.id }})</td>
  <th>State</th><td>{{ object.state.description }}</td>
</tr>
{% if xmlfile_error %}
<tr><th>XML Error:</th><td><div class='crasherror'>{{ xmlfile_error }}</div></td></tr>
{% endif %}
{% if minidumpfile_error %}
<tr><th>Minidump Error:</th><td><div class='crasherror'>{{ minidumpfile_error }}</div></td></tr>
{% endif %}
{% if error %}
<tr><th>Error:</th><td><div class='crasherror'>{{ error }}</div></td></tr>
{% endif %}
{% if show_debug_info %}
<tr>
  <th>Parse time:</th><td>{% format_seconds parsetime %}</td>
  <th>Database time:</th><td>{% format_seconds dbtime %}</td>
</tr>
<tr>
  <th>Bits:</th><td>{{bits}}</td>
  <th>Is 64-Bit:</th><td>{{is_64_bit}}</td>
</tr>
{% endif %}
<tr>
  <th>Crash&nbsp;Timestamp</th><td>{{ object.crashtimestamp|date:"Y-m-d H:i:s" }}</td>
  <th>Report&nbsp;Timestamp</th><td>{{ object.reporttimestamp|date:"Y-m-d H:i:s" }}</td>
</tr>
<tr>
    <th>Application&nbsp;name</th>
    <td><a href="{% url "list_filter_app" object.get_applicationName %}">{{ object.get_applicationName }}</a></td>
    <th>Application&nbsp;file</th><td>{{ object.applicationFile }}</td>
</tr>

{% if fast_protect_system_info %}
<tr>
  <th>Crash&nbsp;FQDN</th><td>{{fast_protect_system_info.fqdn}}&nbsp;<a href="{% url "sysinfo_report" object.id %}" title="{{object.id}} system info">Show complete system info</a></td>
  <th>Crash&nbsp;username</th><td>{{fast_protect_system_info.username}}</td>
</tr>
{% else %}
<tr>
  <th>Client&nbsp;FQDN</th><td>{{ object.crashHostName }}</td>
  <th>Client&nbsp;username</th><td>{{ object.crashUserName }}</td>
</tr>
{% endif %}
<tr>
  <th>Reporter&nbsp;FQDN</th><td>{{object.reportHostName}}</td>
  <th>Reporter&nbsp;username</th><td>{{object.reportUserName}}</td>
</tr>

<tr>
    <th>Product name</th><td>{{ object.productName}}</td>
    <th>Project page</th>
    <td>
      {% if project %}  
      <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
      {% else %}  
      N/A
      {% endif %}  
    </td>
</tr>
<tr>
  <th>Product version</th><td>{{ object.productVersion }}</td>
  <th>Product target version</th><td>{{ object.productTargetVersion }}</td>
</tr>
<tr>
  <th>Build type</th><td>{{ object.buildType }}</td>
  <th>Build postfix</th><td>{{ object.buildPostfix }}</td>
</tr>
<tr>
  <th>OS&nbsp;version</th><td>{%format_os_version object.platform_type object.os_version_number object.os_build_number %}</td>
  <th>Platform&nbsp;type</th><td>{%format_platform_type object.platform_type %}/{% format_cpu_type object.cpu_type %}</td>
</tr>

{% if object.has_minidump %}
    <tr><th>Minidump file</th><td class="fullrow">
        {% if object.minidumpFile %}
        <a href="{% url "crash_report" object.id "minidump" "raw" %}" title="{{object.crashid}} ({% format_size minidumpfile_size %})">Download</a>
        {% endif %}
        {% if object.minidumpReportTextFile %}
            &nbsp;<a href="{% url "crash_report" object.id "minidumpTextReport" "raw" %}" title="{{object.crashid}} ({% format_size reporttextfile_size %})">Text report</a>
        {% endif %}
        {% if object.minidumpReportXMLFile %}
            &nbsp;<a href="{% url "crash_report" object.id "minidumpXMLReport" "raw" %}" title="{{object.crashid}} ({% format_size xmlfile_size %})">XML report</a>
        {% endif %}
        {% if object.minidumpReportHTMLFile %}
            &nbsp;<a href="{% url "crash_report" object.id "minidumpHTMLReport" "raw" %}" title="{{object.crashid}} ({% format_size reporthtmlfile_size %})">HTML report</a>
        {% endif %}
    </td></tr>
{% endif %}

{% if object.has_coredump %}
<tr><th>Minidump file</th><td class="fullrow">
    {% if object.coredumpFile %}
    <a href="{% url "crash_report" object.id "coredump" "raw" %}" title="{{object.crashid}} ({% format_size coredumpfile_size %})">Download</a>
    {% endif %}
    {% if object.coredumpReportTextFile %}
        &nbsp;<a href="{% url "crash_report" object.id "coredumpTextReport" "raw" %}" title="{{object.crashid}} ({% format_size reporttextfile_size %})">Text report</a>
    {% endif %}
    {% if object.coredumpReportXMLFile %}
        &nbsp;<a href="{% url "crash_report" object.id "coredumpXMLReport" "raw" %}" title="{{object.crashid}} ({% format_size xmlfile_size %})">XML report</a>
    {% endif %}
    {% if object.coredumpReportHTMLFile %}
        &nbsp;<a href="{% url "crash_report" object.id "coredumpHTMLReport" "raw" %}" title="{{object.crashid}} ({% format_size reporthtmlfile_size %})">HTML report</a>
    {% endif %}
</td></tr>
{% endif %}

<tr><th>System info</th><td>
  {% if object.systemInfoData %}  
  <pre>{{ object.systemInfoData }}</pre>
  {% else %}  
  N/A
  {% endif %}  
</td></tr>
<tr><th>Gfx capabilities</th><td>
{% if object.gfxCapsFile %}
<a href="{% url "crash_report" object.id "gfxCaps" "raw" %}">Download</a>
&nbsp;<a href="{% url "crash_report" object.id "gfxCaps" "text" %}">Plain text</a>
{% else %}
N/A
{% endif %}
</td></tr>

<tr><th>Attachments</th><td>
{% if attachments %}
  <ul class="crashattach">
    {% for attachment in attachments %}
    <li><a href="{{attachment.name}}" target="_blank">{{ attachment.name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
None
{% endif %}
</td></tr>

<tr><th>Links</th><td>
{% if links %}
  <ul class="crashlink">
     {% for link in links %}
     <li><a href="{{link.url}}" target="_blank">{{ link.name }}</a></li>
     {% endfor %}
  </ul>
{% elif project %}
<form id="crashdump-report-link" method="post" action="{% url "crash_new_link" object.id %}" novalidate>
  {% csrf_token %} 
  <input type="hidden" name="id" value="{{ object.id }}"/>
  <input type="hidden" name="new-issue" value="1"/>
  <button type="submit" class="button" title="Create New Issue">New Issue</button>
</form>
{% else %}
None
{% endif %}
</td></tr>

</table>
<!-- close the crashdump yellow box -->
</div>

{% if system_info %}
<a name="sysinfo"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___sysinfo">System information</a></h4></div>
      <div id="view___sysinfo" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if fast_protect_version_info %}
<a name="sysinfo_ex"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___sysinfo_ex">More system information</a></h4></div>
      <div id="view___sysinfo_ex" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if fast_protect_version_info %}
<a name="fast_protect_version_info"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___fast_protect_version_info">Version info</a></h4></div>
      <div id="view___fast_protect_version_info" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if exception %}
<a name="exception"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___exception">{% if assertion %}Assertion{% else %}Exception{% endif %}</a></h4></div>
      <div id="view___exception" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if modules %}
<a name="modules"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___modules">Modules</a></h4></div>
      <div id="view___modules" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if threads %}
<a name="threads"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___threads">Threads</a></h4></div>
      <div id="view___threads" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if stackdumps %}
<a name="stackdumps"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___stackdumps">Stack dumps</a></h4></div>
      <div id="view___stackdumps" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if memory_regions %}
<a name="memory_regions"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___memory_regions">Memory regions</a></h4></div>
      <div id="view___memory_regions" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if memory_blocks %}
<a name="memory_blocks"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___memory_blocks">Memory blocks</a></h4></div>
      <div id="view___memory_blocks" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if file_info %}
<a name="file_info"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#view___file_info">Processing log</a></h4></div>
      <div id="view___file_info" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

<a href="{% url "home" %}">Back to list</a>

{% endblock %}
