{% extends 'base.html' %}
{% load crashupload_utils %}

{% block content %}

<div id="crashdump">
            <div class="date">
                <p>Crashed {{object.crashtime}}</p>
                <p><a href="{% url "crash_details" object.id %}" class="trac-id">Back to CrashId#{{object.id}}</a></p>
            </div>

            <h2>
                <a href="{% url "sysinfo_report" object.id %}" class="trac-id">System information report for CrashId#{{object.id}} - {{object.uuid}}</a>
            </h2>
<table class="properties">
<tr><td>Id</td><td>{{ object.crashid }}</td></tr>
<tr><td>State</td><td>{{ object.state.description }}</td></tr>
{% if xmlfile_error %}
<tr><th>XML Error:</th><td>{{ xmlfile_error }}</td></tr>
{% endif %}
{% if minidumpfile_error %}
<tr><th>Minidump Error:</th><td>{{ minidumpfile_error }}</td></tr>
{% endif %}
{% if show_debug_info %}
<tr><th>Parse time:</th><td>{% format_seconds parsetime %}</td></tr>
<tr><th>Database time:</th><td>{% format_seconds dbtime %}</td></tr>
<tr><th>Is 64-Bit:</th><td>{{is_64_bit}}</td></tr>
<tr><th>Bits:</th><td>{{bits}}</td></tr>
{% endif %}
<tr><td>Application name</td>
    <td><a href="{% url "list_filter_app" object.get_applicationName %}">{{ object.get_applicationName }}</a></td>
</tr>
<tr><td>Application file</td><td>{{ object.applicationFile }}</td></tr>
<tr>
<th>Linked tickets:</th><td><ul>
{% for tkt in linked_tickets %}<li>${tkt}</li>{% endfor %}
</ul>
</td>
</tr>
<tr>
<th>FQDN:</th><td>{{ sysinfo_report.System.fqdn }}</td>
<th>Qt Library info:</th><td>{{ sysinfo_report.Qt.sysinfo.libraryinfobuild }}</td>
</tr>
</table>

<!-- close the crashdump yellow box -->
</div>

{% if system_info %}
<a name="sysinfo"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo">System information</a></h4></div>
      <div id="sysinfo" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if fast_protect_system_info %}
<a name="sysinfo_opengl"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_opengl">OpenGL information</a></h4></div>
      <div id="sysinfo_opengl" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>

<a name="sysinfo_env"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_env">Environment</a></h4></div>
      <div id="sysinfo_env" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>

<a name="sysinfo_terra4d_dirs"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_terra4d_dirs">Terra4D directories</a></h4></div>
      <div id="sysinfo_terra4d_dirs" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>

<a name="sysinfo_cpu"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_cpu">CPU information</a></h4></div>
      <div id="sysinfo_cpu" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>

<a name="sysinfo_locale"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_locale">Locale</a></h4></div>
      <div id="sysinfo_locale" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>


<a name="sysinfo_network"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_network">Network</a></h4></div>
      <div id="sysinfo_network" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

{% if system_info %}
<a name="sysinfo_rawdata"/>
<div class="panel-group crashdump_box">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed" href="#sysinfo_rawdata">Raw system information data</a></h4></div>
      <div id="sysinfo_rawdata" class="panel-collapse collapse"><div id="placeholder">placeholder</div></div>
    </div>
</div>
{% endif %}

<a href="{% url "crash_details" object.id %}" class="trac-id">Back to CrashId#{{object.id}}</a>

{% endblock %}
